div {
  font-size: 19px;
}
.name {
  font-size: 24px;
}
.personal-info {
  font-size: 12px;
}

.yellow-breaker {
  height: 6px;
  background: #fec100;
}

.breaker {
  height: 1px;
  background: black;
  margin-left: 20px;
  margin-right: 8px;
}